<body>


<!-- Main header -->
    <div class = "top-container-home">
      <div class = 'headline'>
        <h1> Welcome to Trevor's List!</h1>
      </div>
    </div>
    <!-- Main Body -->
    <div class = "middle-container">
      <div class = "links-home">
        <%= link_to 'Show me the ad\'s!', posts_path %>
      </div>
    </div>
</body>
